<!-- #txtTagInput es la referencia para el @viewChild -->
<div class="flex border-2 border-teal-700 rounded-md focus-within:ring-2 ring-teal-500">
    <input type="text"
        class="sm:w-full w-60 px-1 rounded-tl-md rounded-bl-md text-[10px] sm:text-base text-in focus:outline-none"
        placeholder="Search gifs..." (keyup.enter)="searchTag()" #txtTagInput />
    <button class="rounded-tr-md rounded-br-md px-1 py-1.5 sm:px-2 sm:py-3" (click)="searchTag()">
        <svg class="w-4 h-4 fill-current text-gray-500" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
        </svg>
    </button>
</div>